@font-face {
    font-family: Pacifico;
    font-display: swap;
    src: url("/fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Inter;
    font-display: swap;
    src: url("/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}
