@font-face {
    font-family: Pacifico;
    font-display: swap;
    src: url("/src/assets/styles/fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Inter;
    font-display: swap;
    src: url("/src/assets/styles/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}
