@use "fonts";

*,
body {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(var(--v-theme-secondary));
}

.font-pacifico {
    font-family: Pacifico;
}

.font-inter {
    font-family: Inter;
}

.font-description {
    font-family: Marat, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: medium;
}

.subtitle {
    margin-top: 0.25rem;
    margin-bottom: 16px;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 300;
    font-family: Inter, sans-serif;
    color: rgb(var(--v-theme-primary));
}

.title {
    // margin-top: 0.25rem;
    margin-bottom: 3rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-family: Pacifico;
    font-style: italic;
    color: rgb(var(--v-theme-secondary));
}

.text-xs {
    font-size: 0.75rem;
    /* 12px */
    line-height: 1rem;
    /* 16px */
}

.text-xl {
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.75rem;
    /* 28px */
}